main {
    text-align: center;
    align-items: center;
    border: 2px peru solid;
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
}

hr {
    color: black;
}

form {
    border: 3px tomato dotted;
    margin-top: 15px;
    margin-left: 25%;
    margin-right: 25%;
}


footer, h1 {
    text-align: center;
}

.onBoard {
    display: inline;
    height: 50px;
    width: 50px;
    font-size: 40px;
    text-align: center;
}

[takenby='player1'] {
    color: brown;
}

[takenby='player2'] {
    color: burlywood;
}

img{
    width: 300px;
  grid-column-start:33;
  /*grid-column-end:35;*/
  grid-row-start:2;
  grid-row-end:4;
}

.detailedDiv{
    grid-column-start:1;
    grid-column-end:65;
}
#topDiv{
    grid-row-start:1;
    grid-row-end:2;
}
#botDiv{
    grid-row-start:4;
    grid-row-end:5;
}
span{
    width:;
    border: 1px solid blue;
}
#gameBoard,#botDiv,#topDiv{
    display:grid;
    grid-template-columns: repeat(65, 1fr);

}

#gameBoard {
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
}

#pull{
    grid-row-start:5;
    grid-column-start:31;
    grid-column-end:35;
}